html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background: tomato;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background-color: tomato;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid white;
}

.jumbotron {
  background: tomato;
}

.main-container h1 {
  text-align: center;
  color: white;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}

p{
  text-align: center;
  margin: 3px 0;
  font-size: 17px;
  color: white;
}

.messages-container {
  width: 60%;
  text-align: center;
  margin: 20px auto 0;
}